[2017-11-13 19:49] tdwright opened #2 "Format columns using format strings for appropriate data types"
For certain data types, we want to be able to pass a format string to control how the data is formatted.

Data types include:
- Dates
- Numbers (ints, floats, doubles, decimals)

[2017-11-13 19:55] tdwright opened #3 "Build in alternative table styles"
Rather than hypens, pipes and pluses, we should be able to switch to other "themes" for tables.

The default might looks like this:

[code]
And we may want (for instance) to be able to use hashes and equals signs:
[code]

[2017-11-13 19:56] tdwright opened #4 "Allow custom styles to be specified at runtime"
As well as the default style and the alternative styles proposed in #3, users should be able to override each of the three elements (walls, floors, corners).

[2017-11-13 19:57] tdwright opened #5 "Wrap long strings"

[2017-11-13 19:57] tdwright opened #6 "Ensure width of table is not wider than console"

[2017-11-14 12:57] tdwright opened #7 "Add derived computed columns"
Possibly by using delegates?

E.g. turning a date and end date into days relative to today, or multiplying a rate by a quantity to get a subtotal.

[2017-11-14 12:58] tdwright opened #8 "Allow columns to be arbitrarily ordered"

[2017-11-15 07:36] #3 closed

[2017-11-15 07:36] tdwright commented on #4
Fixed by #10

[2017-11-15 07:36] #4 closed

[2017-11-15 07:40] tdwright opened #11 "Add more styles"
Since 42b3ffcd it has been possible to build in styles. There aren't currently very many of these.

Let's add some more styles to ConTabs.

[2017-11-21 20:44] tdwright opened #13 "Shouldn't be possible to make a table if there aren't any valid columns"
Currently if you try to make a table from a class without any public properties, you get a wonky table without any headers or content, although the correct numbers of (empty) rows do get printed.

When creating a table, we should check to see how many valid columns are present. The either throw an exception, or handle the "no column" case like we do the "no data" case.

Related: what happens if th

[2017-11-28 22:15] tdwright commented on #2
Fixed by #14

[2017-11-28 22:16] #2 closed

[2017-11-29 08:50] tdwright opened #15 "Allow for alignment of data in columns to be controlled"
An obvious example would be for numbers with decimal places:

[code]

[2017-12-19 09:36] rahl0b10 commented on #13
I'm guessing this can be closed, @tdwright ?

[2017-12-19 09:49] tdwright commented on #13
Absolutely. Thanks again for your contribution @rahl0b10!

I think the related problem of what to do when all columns are set to "hidden" may still need addressing, but this should be done with a separate issue.

Tom

[2017-12-19 09:49] #13 closed

[2017-12-19 09:54] tdwright opened #19 "What behaviour should occur when all columns are hidden?"
Relating to #13 - what behaviour do we want to happen when a data type has public properties (thereby not triggering the exception added in #18), but where the resulting columns have all been manually hidden?

[2017-12-19 18:24] rahl0b10 commented on #19
Before I commit to a position, I would like to know your reasoning behind having `Columns` and `_colsShown`. At first glance I'm inclined to believe it's a YAGNI issue. Unless it currently has a use-case I do not recognize I'd be inclined to simply not add hidden columns to the `Columns` property in the first place.
[code]
~~internal List<Column> _colsShown => Columns.Where(c => !c.Hide).ToList();

[2017-12-19 21:01] tdwright commented on #19
Hi @rahl0b10,

The idea behind this design is that we may want to generate a table for certain fields of a pre-existing type. In this case, we'd (indirectly) call the constructor on the type in it's entirety, before marking the `Hide` property of some columns as true.

For instance, we may want to do as follows:

[code]

And because we've hidden a column, we get the following:

[code]
_Note that "

[2017-12-19 21:25] rahl0b10 commented on #19
Hi @tdwright ,

That does make sense, thank you!  In that case, I think I'd fall on the side of throwing a different exception.

[2017-12-19 22:13] rahl0b10 opened #20 "Feature Request: Implement a builder pattern to simplify the creation of tables with hidden fields."
I believe a builder pattern would make the process of table creation, and hiding fields, relatively seamless. I've implemented a working version as follows:

[code]

If this is a feature that is would be considered beneficial, I am happy to put in the pull request.

[2017-12-19 22:41] tdwright commented on #20
I'd be keen to see more. It looks like a nice approach.

Quick question: does `Build()` return a string? Or a table object?

I'm also interested in you addressing the columns by their names. This is a feature I've been meaning to add anyway. Currently they have to be referenced by their index, which is not ideal.

[2017-12-20 03:14] rahl0b10 commented on #20
The `Build()` method returns a `Table<T>` object.

If you'd like to see the (working but not refined) implementation, I just pushed to my account.

[2017-12-21 10:00] tdwright opened #22 "Can we rationalise our test data classes?"
Currently we have four classes in the ConTabsTestData project that exist solely for the purposes of testing and demoing:

1. `DemoDataType`
2. `TestDataType`
3. `MinimalDataType`
4. `InvalidTestDataType`

This seems like too many. (And we're proposing another called `DemoAnimals` in #21)

It seems to me that at most we'd need one for testing, one for demoing and one that's invalid. We may even be

[2017-12-21 18:20] rahl0b10 commented on #22
Yes, good point. I think we can wrap up a few of those and then use a repository pattern to instantiate a list of data that can be used to create a table. At first glance, 1-3 can be consolidated. Just need enough properties to demonstrate all of the current and planned API features.
- Hide columns
- Reorder columns
- This brings to mind, I feel there may be a need for the API allow columns to be

[2017-12-21 18:58] tdwright commented on #22
Completely agree re number 4. For the others, I think consolidating them into just one type is a good ambition.

Off the top of my head, the following types would be useful as columns:

- String
- Int
- Float/double/decimal
- DateTime

The numbers and datetime are useful for demonstrating the format string capabilities. It feels like having more than one string column (I'm thinking ahead to featur

[2017-12-21 20:34] tdwright opened #24 "Address columns by their name, rather than by their index"
As showcased in #21, being able to identify and act on columns by their names (inherited from the underlying field names) is a great feature.

E.g. instead of
[code]
We would do
[code]

[2017-12-21 20:36] tdwright opened #25 "Ability to change column header text"
Currently the title of each column is taken from the name of the underlying field.

There may be times when the underlying field has a very long, or unfriendly name. In these cases we may want to change the column header to some other string that we specify.

(_NB:_ How does this interact with #24?)

[2017-12-21 20:42] tdwright opened #26 "Specify overflow behaviour for long strings"
Expanding on #5, there may be a range of things we want to happen when our data contains a long string:

1. Show it all on one line, making the column very wide. This is the current behaviour, but seems suboptimal.
2. We may want to wrap the text as suggested in #5, so that we can control the width at the expense of the height of the row.
3. Another option would be to specify a length at which the

[2017-12-22 00:24] rahl0b10 commented on #22
I agree with those columns.

Regarding the random questions:
* For the minimal data type, I'd argue that if there currently isn't a use-case for it, it's probably not worth making at this point.
* If I get a say and I were looking to make it fun, I'd probably theme it for something like a multiplayer video game where the object represents a player and the properties a number of personal descriptor

[2017-12-29 12:26] tdwright commented on #26
Fixed in #27

[2017-12-29 12:26] #26 closed

[2017-12-29 12:26] tdwright commented on #5
Fixed in #27

[2017-12-29 12:26] #5 closed

[2017-12-29 12:30] tdwright opened #28 "Proper documentation"
As ConTabs gets more feature-rich, it might be worth documenting it properly.

Topics to include:
- [x] Basic usage
- [x] Styling (built-in and custom)
- [x] Hiding columns
- [x] Using format strings (e.g. for currency data)
- [x] Changing how long strings are handled

Each topic should have relevant examples.

[2018-01-11 21:59] tdwright commented on #25
I'm an idiot. This has always been available throught the `ColumnName` property of `Column`.

[2018-01-11 21:59] #25 closed

[2018-01-14 17:58] iklen5 commented on #11
Hello, I have previously used something similar to contabs (btw. good job on contabs).

Anyway, I was wondering if anyone is working on this? If not, I'd like to add few styles & tests.

Have a good day!

[2018-01-14 18:23] tdwright commented on #11
Hi @iklen5

Thanks for your interest. I'm really glad you like ConTabs!

As far as I know, no-one else has taken this on. I'll assign it to you. The [contribution guidelines](https://github.com/tdwright/contabs/blob/master/CONTRIBUTING.md) should have all the info you need to get started.

I look forward to seeing a PR!

Tom

[2018-01-20 23:58] iklen5 commented on #11
Sorry, messed something up with previous PR.

[2018-01-27 19:29] Royhoey commented on #15
Hey! Can I try this one? :)

My approach would be to create a new class Allignment with a ProcessString function, similar to LongStringBehaviour. This could thenn be a property on the Column class so you can configure the allignment for each column.

[2018-01-27 19:56] Royhoey commented on #15
Which options are there for alignment? Just left and right or center as well? What would a center alignment look like if the column max width is an odd number?

[2018-01-27 20:31] tdwright commented on #15
Hi @Royhoey!

You are (of course) very welcome to take this one on. Thanks for sticking your hand up!

I think having centre alignment would be worthwhile, but I don't think the most important thing is for it to be 100% perfectly centred. For odd numbered widths, it might just be an arbitrary decision as to which way round the asymmetry goes.

The other way to handle this, I guess, would be to for

[2018-01-27 20:37] Royhoey commented on #15
@tdwright Alright I will give it a go then!

As far as the centre alignment goes, I'll just play around with it to see how it looks.
Yeah I was thinking that the aligning should take place in the DataLine method... let me see what works best.

[2018-01-27 20:40] tdwright commented on #15
Awesome. Look forward to seeing a PR soon! :grinning:

[2018-01-31 19:51] #15 closed

[2018-01-31 19:51] #8 closed

[2018-01-31 19:51] #24 closed

[2018-01-31 19:55] tdwright commented on #28
Think I'll put this in the GitHub Wiki.

[2018-01-31 20:05] tdwright opened #33 "Need a snazzy logo"
ConTabs looks a bit drab in NuGet. Can we sauce it up with a snazzy logo?

[2018-01-31 20:32] tdwright opened #34 "Allow cell padding to be changed"
The default cell padding is one character left and right. This can look cramped for some data sets.

Can we add a table-level property to allow the padding on the left and right side of the heading/data to be set?

I would imagine we would keep the padding symmetrical and apply one value to all columns.

I think at this stage we would ignore vertical spacing between rows, although this could be ad

[2018-02-04 20:17] tdwright commented on #28
Now available in [the wiki](https://github.com/tdwright/contabs/wiki)

[2018-02-04 20:17] #28 closed

[2018-02-06 14:21] tdwright opened #35 "How can we make ConTabs work with anonymous types?"

[2018-02-06 14:23] tdwright opened #36 "ConTabs table output oneliner?"
Sometimes we want to spit out a table ASAP and are happy with all the default options.

We'd want to do something like:

[code]

[2018-02-07 15:44] tdwright opened #37 "Create an advert for Stackoverflow's free open-source advertising"
[See here](https://meta.stackoverflow.com/questions/362773/open-source-advertising-1h-2018)

May link to #33

[2018-02-07 16:35] dswaczyna commented on #36
Hello tdwright,

I would like to clarify changes pointed in this issue.
I wonder if I understood it correctly but you request to add function that can just print content of a table?
so instead of:
[code]
should be possibility to write:
`Console.WriteLine(Table<Planet>.QuickString(planets));`

but u could already write it as:
`Console.WriteLine(Table<Planet>.Create(planets));`

So it wouldn't be th

[2018-02-07 16:41] tdwright commented on #36
That's true @dswaczyna - good point.

I wonder whether there's any value in condensing it even further, from:

[code]
To:
[code]
Or should we just close this issue and move on? 😉

[2018-02-07 19:38] tdwright commented on #33
This will do for now...

![contabs logo](https://user-images.githubusercontent.com/95890/35937507-52bf609a-0c3e-11e8-8c9f-561adbfe13b2.png)

Plus a small version to act as an icon for the NuGet package:

![contabs logo small](https://user-images.githubusercontent.com/95890/35937510-54180b90-0c3e-11e8-9674-05f029bb60af.png)

[2018-02-07 19:38] #33 closed

[2018-02-07 19:58] tdwright commented on #37
I did my best: https://meta.stackoverflow.com/a/363095/50151

Please vote for ConTabs!

[2018-02-07 22:29] dswaczyna commented on #36
@tdwright
to be honest, I'm not sure, it's my very first activity on github.

Surely, it does not require a lot of work to implement QuickDraw function so it could be done but from the other hand, it could be a little bit misleading at the same time.
because when there is:

`Table<Planet>.QuickDraw(planets);`

shouldn't be also a possibility to invoke Draw() function with style parameters?
`Table<

[2018-02-08 19:48] tdwright commented on #36
Hi @dswaczyna,

I think the direction you're heading in with that suggestion is quite close to what @rahl0b10 was suggesting in #20. I.e. a builder pattern that allows things like styles to be defined in a fluent style.

On reflection, I'm going to close this issue. Please don't be dissuaded from contributing though! 😀

Tom

[2018-02-08 19:48] #36 closed

[2018-02-09 17:27] #37 closed

[2018-02-13 10:09] Ravikc commented on #34
This sounds good. Can I start working on it ?

[2018-02-13 10:12] tdwright commented on #34
@Ravikc Thanks for your interest. It's all yours! 😄

If you have any thoughts on how you plan to implement this, I'd be more than happy to discuss them here.

[2018-02-13 17:48] Ravikc commented on #34
I am thinking about using custom padding only when `ContentAlignment `and `HeaderAlignment `are both set to `Center`. Later we can figure out how the padding behaves when the either one is not set to `Center` ?

[2018-02-14 11:27] Ravikc commented on #34
How do you want me to handle it when applying the user defined `Padding` value exceeds the `MaxWidth` property of a `Column` class ?

[2018-02-14 14:35] tdwright commented on #34
The `MaxWidth` property of a column is read-only. It is [currently calculated](https://github.com/tdwright/contabs/blob/master/ConTabs/Column.cs#L21-L35) from the maximum width of the actual content - ignoring the current implicit padding of 1 character.

As this property is primarily used whilst rendering (i.e. it's not of much direct value to an end-user), I suppose we could alter its behaviour

[2018-02-19 10:08] tdwright commented on #34
Closed by #38 - thanks @Ravikc!

[2018-02-19 10:08] #34 closed

[2018-02-19 12:55] Ravikc commented on #35
I'd like to take this forward.
So suppose we declare our anonymous list something like this:
[code]

or this:
[code]

What kind to table should it produce? I was thinking something like this:

| Prop1   | Prop2 | Prop3  |
|---------|-------|--------|
|  valueX |       |        |
| valueY  | 3.0   |        |
|         |       | valueZ |

Let's decide the expected output first and then we can discus

[2018-02-19 16:52] Ravikc opened #39 "Add vertical padding to the cells"

[2018-02-19 17:31] tdwright commented on #39
Sounds like the natural next step. Can we call it something other than padding though? Perhaps `RowSpacing`?

[2018-02-19 17:37] Ravikc commented on #39
Instead of calling our horizontal padding as `Padding`, I was thinking about having a `Padding` class as the property of the table. And then we can do something like this:
[code]

[2018-02-19 17:38] Ravikc commented on #39
Row spacing also sounds good though

[2018-02-19 17:41] tdwright commented on #39
That's an interesting idea. I suppose we need to think about how people will use it.

Will people care about setting left and right independently? Or will they just want a quick, easy way to give their data a bit more "room"? Can we implement this so that we introduce flexibility whilst preserving the simplicity?

[2018-02-19 17:49] Ravikc commented on #39
Million people will use it in million different ways.
I think having multiple constructors addresses the problem of flexibility and simplicity. And for people who have strange requirements, I think we should give them the ability to set different padding for different sides. My current implementation is this:
[code]

People who just want some "room" can get away by using the default constructor an

[2018-02-19 17:49] tdwright commented on #35
The problem is that ConTabs determines the columns via reflection.

If I do:
[code]
I get an exception:

So I suppose we may need to think about a new construction. I guess if we took an `ArrayList` (or similar) and derived the columns by reading the property names, then doing a `Unique()`. We can assume in this case that all properties should be included, as they otherwise wouldn't have been incl

[2018-02-19 17:52] tdwright commented on #39
OK, this looks workable. 👍

When you're ready, let's see a PR.

[2018-02-19 17:55] tdwright opened #40 "Handle nulls in a more dignified manner"
It seems to me that the expected behaviour for null values should be an empty string, not a `NullReferenceException` as is currently the case.

[code]

This should be rendered like:

[code]

This will help if/when we start to tackle anonymous objects (e.g. #35).

[2018-02-19 17:59] Ravikc commented on #35
I wanted to know if that's how the table should look (assuming that the program works correctly).
And in order to handle anonymous types we could have a wrapper/Factory that spits out all the columns.

[2018-02-20 09:11] tdwright commented on #35
Ah, I see. Well that table looks pretty much as I'd expect, yes.

[2018-02-23 17:00] MichaelStedman commented on #40
I read your recent blog about "Attracting contributors to ConTabs".

Would you like me to look at this issue?

[2018-02-23 19:53] tdwright commented on #40
Hi @MichaelStedman - great to have you here. If you'd like to tackle this one, it would be appreciated.

[2018-02-24 20:33] tdwright commented on #40
Thanks @MichaelStedman! This will be included in the next release, which should be this weekend.

[2018-02-24 20:33] #40 closed

[2018-03-02 12:08] tdwright-itg opened #46 "Add intellisense / XML documentation"
It would be useful to add XML comments to the code to power intellisense. This would aid discovery and allow people to do more with ConTabs without needing to read the online documentation.

As per http://blog.tdwright.co.uk/2017/07/25/using-xml-comments-to-provide-intellisense-hints/

[2018-03-08 01:08] levimatheri commented on #7
Hi @tdwright, I am a newbie here but I'd like to take on this. I'm more experienced in Java but I'd like to enhance my C#

[2018-03-11 20:15] tdwright commented on #7
Hi @levimatheri.

Please, be my guest! I think this could be a great feature.

Have you had any thoughts about how you'd plan on approaching it?

Tom

[2018-03-11 20:16] tdwright commented on #35
Hi @Ravikc - have you had any further thoughts on this? It felt like you were heading in a pretty interesting direction.

[2018-03-11 20:54] levimatheri commented on #7
Thank you.

Not yet but I will.

Levi

On Mar 11, 2018 4:15 PM, "Tom Wright" <notifications@github.com> wrote:

[2018-03-12 06:58] Ravikc commented on #35
I got a little busy at work. But basically the path I had chosen required some code duplication. So i am trying to find a more elegant way to achieve the same.

[2018-03-12 13:14] tdwright commented on #35
Ah, cool. There's absolutely no rush with this - we're all doing this in our spare time after all!

[2018-03-22 17:17] sixlettervariables commented on #35
I was able to get this to work with a small change to the `Table<T>` class. Make the constructor internal:
[code]
Then add the following helper class and method:
[code]
I found this works fine and the demo works with with only a small change (note the L modifier to the integer literals in `DistanceFromSun`):
[code]

[2018-03-23 08:25] tdwright commented on #35
Hi @sixlettervariables. Thanks for picking this up.

Very neat application of generics. It hadn't occurred to me that it could be this easy!

I also like the flexibility that this dual approach (new ctor and ext method) allows.

Would love to see a pull request for this!

Tom

[2018-03-27 18:17] sixlettervariables commented on #35
Please see #47. We would likely use the `AsTable` extension.

[2018-03-27 20:53] Chandler-Davidson commented on #46
I'm interested in taking this one! I'll add a PR asap.

[2018-03-28 16:53] Chandler-Davidson commented on #19
I think that it should throw a unique exception that provides a meaningful suggestion.

[2018-03-28 19:24] Chandler-Davidson commented on #7
I'm really interested in this improvement, however I think it is more complex than it seems. Either you have to have a table of two different types or create a new table of the a new derived type that expands upon the generic.

I looked at using the ExpandoObject to add properties to an object, but ran into some troubles.

[2018-03-29 17:27] tdwright commented on #35
Fixed by #47

[2018-03-29 17:27] #35 closed

[2018-03-29 18:56] tdwright commented on #46
Fixed in #51

[2018-03-29 18:56] #46 closed

[2018-04-03 10:31] tdwright commented on #19
Fixed in #49

[2018-04-03 10:31] #19 closed

[2018-04-04 12:58] Chandler-Davidson commented on #6
What's the expected out come when the console window is smaller than the table?

[2018-04-05 16:50] Chandler-Davidson commented on #7
I've made some [progress](https://github.com/Chandler-Davidson/contabs/blob/ComputeColumn/ConTabs/Columns.cs), but am still running into troubles. My first thought was to add a column to the existing table, but ran into issues where the method needs to know the table's type. Otherwise I get a casting exception. Any help, @tdwright?

[2018-04-09 20:50] tdwright commented on #7
Hi @Chandler-Davidson. What you've done looks like a good start. I'll have a proper look ASAP.

[2018-04-16 17:21] levimatheri opened #52 "Error when installing"
Why am I getting these errors?

`Install-Package : NU1108: Cycle detected.
  ConTabs.tdwright -> ConTabs.tdwright (>= 1.2.0).
At line:1 char:1
 Install-Package ConTabs.tdwright -Version 1.2.0
     CategoryInfo          : NotSpecified: (:) [Install-Package], Exception
     FullyQualifiedErrorId : NuGetCmdletUnhandledException,NuGet.PackageManagement.PowerShellCmdlets.InstallPackageCommand

Install-

[2018-04-16 19:45] Chandler-Davidson commented on #52
Seems like an issue with Nuget or VS, here's some [help](https://stackoverflow.com/questions/8314400/nuget-add-reference-error-while-installing-packages).

[2018-04-16 22:05] levimatheri commented on #52
Thank you but that didn't help. I fixed it by going to ConTabsDemo-DotNetCore, there was an error there and I simply removed the dependency then installed the package again and voila!

[2018-04-17 02:27] #52 closed

[2018-04-19 03:50] levimatheri commented on #7
@Chandler-Davidson , does this work? NB: I am very new to C#

`var first_type = this[first].Values[first].GetType();
            var second_type = this[second].Values[second].GetType();

            if (first_type != second_type)
                throw new Exception("Columns to derive from must be of the same type");

            if(typeof(T) != first_type)
                throw new Exception("Cust

[2018-04-19 03:55] levimatheri commented on #7
I just realized columns to derive from could be of different types as in the case of multiplying an int value with a double (rates could be floating points)

[2018-04-19 04:12] levimatheri commented on #7
Hi @Chandler-Davidson your approach worked for me!

[2018-08-21 20:19] Chandler-Davidson commented on #7
We can close this issue after pull request #53.

[2018-08-21 22:33] Chandler-Davidson commented on #7
Just looked through the changes and am really excited about the changes!

I'll create an issue to update the docs to cover these changes and have a pull request by tonight.

[2018-08-22 00:03] tdwright commented on #7
Awesome. Glad to hear it.

Don't worry about a PR for the doc changes, just do them directly in the wiki. (Unless you also wanted to update the Intellisense/XML docs?)

[2018-08-27 10:05] tdwright commented on #7
Now released. Closing the issue.

[2018-08-27 10:05] #7 closed

[2018-08-27 10:13] tdwright opened #54 "Feature: allow tables to be "refreshed" with a set of data"
In some use cases it might be helpful to allow a table to be redrawn with new data. For instance, I may want to grab new data every 5 seconds, clear the console and redraw the table with this new data.

It would be great if a we had a method like `table<T>.Refresh(IEnumerable<T> NewData)`.

For this to work well, we would need to preserve everything except the data. I can think of two areas where

[2018-09-20 16:12] GiorgosBetsos commented on #6
Really nice piece of work! How about prompting the user to select either of these options in case the width of the table is bigger than the width of the console:

1. Auto-resize the console window width so that the table fits inside the window
2. Choose one of the available LongStringBehaviour options:
     a. Truncate
     b. TruncateWithEllipsis
     c. Wrap
 in order to truncate the table to an

[2018-09-22 10:58] tdwright commented on #6
Thanks @GiorgosBetsos - glad you like it!

I'm not sure whether your first option would work in all cases, but this is just a gut feeling.

Your second option(s) seems to me to have more potential. Do you envisage these methods being used on each line of the table, or on values in individual cells? If the latter, how would we identify which cells to operate on?

As I've previously commented, I don

[2018-10-21 09:15] zumo-sk opened #55 "Unit tests failing on locales with different decimal separator"
20 unit tests are failing when using comma as a decimal separator in system locale, for example test CurrencyFieldCanBeFormatted fails with:

The tests should be rewritten to be compatible with different locales (for example, using CurrentCulture.NumberFormat.NumberDecimalSeparator, or switching to different locale before testing), or columns should have support for CultureInfo in addition to stri

[2018-10-22 16:37] zumo-sk commented on #55
Hi Tom,

Thanks for a prompt reply. I am totally new in the open source community
and I joined it to get some hands on in C#, but I'd like to try to fix the
tests, if it's OK for you. Maybe even add some extra ones related to
locales.
I agree that the feature to have possibility to specify globalization
settings could be a new ticket. Will you create it? Or should I?

Marek

On Mon, Oct 22, 2018 a

[2018-10-22 21:13] tdwright commented on #55
Hi Marek,

No worries at all. Although you picked [quite the day](https://www.theregister.co.uk/2018/10/22/github_down_storage_failure/) for your first contribution! :wink:

Thanks for the the PR (#56) - I'll review it properly when I get a chunk of free time. Hopefully one evening this week. From what I've seen though, it appears to be fine and a helpful addition to the test suite.

Apologies for

[2018-10-22 21:47] tdwright opened #57 "Should we allow for the localisation culture to be specified?"
Following on from #55, do we ever want to be able to explicitly specify the formatting culture a table (or column) should use when rendering values?

Approaches:
1. Apply whatever localisation settings are provided by the system (current behaviour)
2. Override the culture for the whole thread (_a la_ [`CultureInfo.CurrentCulture`](https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cu

[2018-10-23 06:45] zumo-sk commented on #55
I had nothing to do with the outage! I promise! 😅
I saw date formatting there, too - but that one seemed to work fine, on a first glance. But I guess it won't hurt to have tests for them. Maybe wait with review and I'll try to make tests for them later this week. I have no idea what is the correct procedure in this case (pulling back the pull request?), so I am just writing it to the ticket. 😛

[2018-10-23 20:15] zumo-sk commented on #55
As promised, added few tests for date formats. I decided not to use locales, just different date formats, to test that the correct string conversion method is being called and that you can choose the formatting as you wish.

[2018-10-23 20:55] tdwright commented on #55
Hi Marek,

What you did was absolutely fine. Pushing new changes to an existing PR is the correct procedure. To be honest, the main thing is that your changes are communicated clearly and effectively, so a big 👍.

The new tests look helpful, but I'll have a proper look when I get the chance.

Thanks for your contributions so far!

Tom

[2018-10-27 20:11] ErsinDagli commented on #11
Hi Tom its my first time creating a PR i apologise i didnt see that we needed to start a convo first

[2018-10-28 21:34] tdwright commented on #11
@ErsinDagli No worries! I'll reply to the PR #58

[2018-11-03 18:11] zumo-sk commented on #55
Hi Tom,
I wanted to take a look on other features and I checked the sources on another computer and I found out one of the tests was failing there, too - because of it seems that different versions of .NET framework or .NET core may have different decimal separators for different languages (that's my best guess), And one of the locales (SK) I used for date has "." as a decimal separator in one ver

[2018-11-04 03:05] tdwright commented on #55
Hi Marek,

I noticed the same thing yesterday and [posted a question on Stackoverflow](https://stackoverflow.com/q/53127994/50151).

It seems as though locales aren't as static or reliable as we'd both implicitly assumed. My suggestion would be to:

1. Leave the test as it currently is, but limit the locales tested to those that are well established and widely known. `en-GB` and `en-US` would qual

[2018-11-07 12:22] pykong commented on #54
A related feature: It would be great if we could just _add rows_.
We work with long running tasks which spill out new data on the fly, thus not all data is available on initial rendering.

Hence it would be great if we could just append new rows to an existing table.
Does the API offer any way to suppress the header generation, as this would make it easy to implement.

[2018-11-07 21:27] tdwright commented on #54
@pykong That's an interesting suggestion. Let me better understand your ideal use-case...

1. You'd write a table, as normal
2. Receive new data
3. Create a new table with just the new data
4. Write this new table without the headers, so it can be appended to the first table

I can see how this would be useful and I think this should be something we support.

In both this new case and the original

[2018-11-07 22:24] pykong commented on #54
Here is a link to a very hacky implementation of the desired feature based on [ConsoleTables](github.com/khalidabuhakmeh/ConsoleTables)
https://snippets.cacher.io/snippet/58da2060292f7cdb44b9

[2018-11-08 01:33] tdwright commented on #54
Thanks @pykong. I hope we can make it less hacky by offering a method explicitly for this purpose.

Do you fancy having a stab at this? If not, I'll have a go when I next get a chance.

[2018-11-08 14:47] pykong commented on #54
@tdwright I am short on time.

However If
... you refer explicitly to a method for append rows in the Console itself (not to a refresh of the whole table object)
... you implemented a way to suppress the generation of the table header.

Then I could then use that as a starting point.

The functionality that I seek need to give only the table body. Hence both header and the delimiter between header

[2018-11-08 22:00] tdwright commented on #55
With the merging of #59, I think we can confidently close this one now. 🎉

Thanks for your help with this one @zumo-sk. I hope your first open source contribution wasn't too traumatic! 😖

[2018-11-08 22:00] #55 closed

[2018-11-08 22:20] tdwright commented on #54
@pykong No worries. I'll have a look at this at some point soon. (I'm away next week, so it won't be immediate.)

[2018-11-11 13:50] pykong opened #60 "Enhancement: Use Data annotations for customizing output."
Using `contabs` I find myself forced mapping some POCO to some smaller object which only contains a subset of the properties - those I want to show in console.

It would be so much DRYer if I could just use the original POCO.
Thus I would require some way to specify which properties to print and which not.

A common library face with a similiar issue uses data annotation:
https://www.newtonsoft.co

[2018-11-11 16:17] zumo-sk commented on #6
I think I could give this a try. Or, I have to admit, I already started tackling it. :smile: How I would like to approach the problem:
1. Have a new table property CanvasWidth. Default value is width of console, but user can change it (depending where they want to output it).
2. Have a table long string setting, that can be overwritten for each column.
3. Table will have property TableStretchStyle

[2018-11-12 08:26] pykong opened #61 "Enhancement: New style - Empty"
AFAIK - there is no style which uses just ` `  (space) as the delimiter.
I feel such style, which is the most minimal style possible, is painfully missing from the defaults.
It is great to enhance readability of the data printed.

[2018-11-17 04:26] maxwell9999 commented on #54
Hi @tdwright, I am rather new to .NET (C#) and open source but saw you list this on up for grabs and think it's something I could tackle. Would love your direction on getting started. I could take a stab at this sometime this weekend.

[2018-11-17 22:42] tdwright commented on #60
Hi @pykong,

Great idea. I tend to use the `.Hide` property of a column to achieve this, or LINQ's `.Select()` to create an anonymous type, but this is a nice alternative.

As you say, we could use attributes to set all of the config options we currently set in code. As I'm thinking about it, using methods and properties on a `Table` object is probably better suited to "one-off" code, but annotati

[2018-11-17 22:44] tdwright commented on #61
Good call @pykong - this could look great for some datasets.

A nice first issue for someone too, if anyone's keen?

[2018-11-17 22:54] tdwright commented on #6
Wow @zumo-sk - you've really given this some thought!

_Sorry about the delayed response. I was off grid in deepest, darkest Tasmania..._

One thing that strikes me immediately is that we don't currently have a way of handling very wide non-string columns. I'm not near an IDE to test this, but I think that `LongStringBehaviour` is ignored for non-string columns?

Another thing that springs to mind

[2018-11-17 23:00] tdwright commented on #54
Hi @maxwell9999,

I like your enthusiasm!

If I were to tackle this, I'd break it into the following discrete tasks:

- [ ] Add an optional bool param to the `.ToString()` method, which (when true) locks the column widths
- [ ] Refactor the implementation of the calculated columns, so that the function(s) can be applied to new data
- [ ] Add a `.Refresh()` method that takes a new `IEnumerable<T>`

[2018-11-18 01:12] maxwell9999 opened #62 "Wiki: Two small edits"
Hi @tdwright,

I was just going though the process of setup and trying to get a familiarity with contabs before I start work on Issue 54. I noticed two potential errors/typos in the wiki pages.

I tried to edit them myself and submit a change request, but it's not obvious how github lets you fork wiki pages since they aren't part of the repo itself. After a bit of searching on stack overflow, I no

[2018-11-18 07:44] tdwright commented on #62
Hi @maxwell9999,

Thanks for flagging these.

FYI, the Wiki is currently locked (long story) so it's not your fault that you can't edit it directly. Not much of a "wiki" in its current state, I know, but seems to be for the best overall.

I've corrected both the errors you spotted:

* https://github.com/tdwright/contabs/wiki/2.-Styling-your-table
* https://github.com/tdwright/contabs/wiki/6.-Gener

[2018-11-18 07:44] #62 closed, assigned to nobody

[2018-11-19 07:28] maxwell9999 commented on #54
Ok, I've taken my first look at the code and run through the demos.

My approach will be to start with the `Refresh` and `Append` methods first as those are the new functionality, with the other two steps being supporting pieces that can come later.

For `Refresh`: The idea here is save some of the effort done in initial table creation, right? So I will be adding a non-static method in the Table c

[2018-11-19 08:29] tdwright commented on #54
Hi @maxwell9999,

I think that's the bones of it, yes.

The reason I suggested them in that order is that you'd need to do them first in order to reliably refresh/append. Well, _need_ might be a bit strong...

* We could get away without fixing the column widths if we don't care about the columns lining up between the old and new data. Less of an issue for `Refresh()`, but potentially a deal-break

[2018-11-19 14:44] pykong commented on #54
@tdwright  I agree that deduping data is not in the scope of this project. If this was your question after all.

@maxwell9999 Kudos for stepping forward on this.
I am usually short on time but feel free to summon me on any PR so I can have a look into it.

[2018-11-19 19:43] maxwell9999 commented on #54
I definitely agree that locking the column widths and handling calculated columns is important (as you stated in the original post in this issue) and didn't mean to ignore your suggested ordering. I guess in my mind it just seems easier to implement the new features first and then go back and fix up all the parts of the code that don't support them. It seems like both the width locking and calcula

[2018-11-19 21:30] tdwright commented on #54
Sorry @maxwell9999, I didn't mean to suggest that you had to do things in the order I suggested. Just wanted to ensure you'd fully grokked _why_ I'd suggested they get done. You clearly do, so the order isn't really important. You've obviously thought it through and I'm happy to proceed in whatever manner you'd prefer. 💯

And I'm more than OK with us working on this on one branch and via one PR. W

[2018-11-21 01:13] tdwright opened #63 "Remove deprecated code in next major version release"
We have a few old methods & properties that are [marked as `Obsolete`](https://github.com/tdwright/contabs/search?q=%5BObsolete&unscoped_q=%5BObsolete).

These are all to do with the way we used to handle styling the grid. The new methods have been in place for a long time now.

As we're looking to move to a new major version of ConTabs ([version 2.0](https://github.com/tdwright/contabs/milestone/

[2018-11-21 10:05] tdwright opened #64 "New unicode styles"
Doubled walled
[code]

Double floored
[code]

[2018-11-21 10:08] tdwright commented on #11
NB: I'm closing this issue now.

I think it's best in future for styles to be posted to their own issues like we've done with #61 and #64.

PS @ErsinDagli Your PR is still open. Please let me know if you're still working on it or if you'd like me to finish it. Either way is fine! 😄  - Tom

[2018-11-21 10:08] #11 closed

[2018-11-21 10:09] edzcodes commented on #11
G’day Tom,

Sorry for the late reply, thanks for the tips just been caught up with work, will do my best to finish it over the weekend.

cheers

________________________________
From: Tom Wright <notifications@github.com>
Sent: Wednesday, November 21, 2018 9:08:32 PM
To: tdwright/contabs
Cc: Ersin Dagli; Mention
Subject: Re: [tdwright/contabs] Add more styles (#11)

NB: I'm closing this issue now.

[2018-11-21 10:13] tdwright commented on #11
G'day from Melbourne mate!

No worries at all. I know what it's like trying to fit life around work. Just glad you haven't gone and disappeared!

[2018-11-21 10:43] tdwright commented on #63
Done in 9bedf657a6ef26105ed0c130d25a328902cd99d4

[2018-11-21 10:43] #63 closed, assigned to tdwright

[2018-11-21 10:50] tdwright commented on #60
OK, looking at this now.

I think it will be simpler to go for an annotation which opts-_out_, if that's OK? In my experience, we want most properties to become visible columns. Adding a class (table) level attribute that switches this could be an extension in the future, if it's going to be helpful. For now, though, focusing on purely column-level attributes is an easier way to approach this.

Qu

[2018-11-21 11:55] tdwright commented on #60
Additional attributes for columns:

- [ ] Alignment
- [ ] Long string behaviour (might be tricky)
- [x] Format string

And some table-level ideas
- [ ] Switch table to "opt-in" with regards to column visibility
- [ ] Table styling (also potentially tricky)

I still think I'll leave the table-level options for a potential second pass.

The one's I've marked as potentially more complex are those whe

[2018-11-21 22:35] tdwright opened #65 "Review and update all dependencies"
- [ ] Do we still need all our dependencies?

- [ ] Are they all up to date?

[2018-11-23 10:03] zumo-sk commented on #6
Truncating the table is an excellent idea and I will definitely use it as a default behavior. I don't know why I haven't realized truncating the table would be an option, too - it's always better than breaking the table.

I think I'll do it in phases - the first phase would be to truncate the table if necessary and to implement the behaviors for stretching / squeezing the table. I progressed signi

[2018-11-23 23:25] tdwright commented on #61
Merged #66 so closing this issue. Functionality will be released as part of [v2.0](https://github.com/tdwright/contabs/milestone/1). Thanks @pykong and @wargamer!

[2018-11-23 23:25] #61 closed, assigned to nobody

[2018-11-23 23:32] tdwright commented on #6
This all sounds great @zumo-sk. Perhaps break out the phases into a checklist? Or, if you'd prefer, create new issues for future work.

I'm thinking about whether to include this in an upcoming milestone: [v2.0](https://github.com/tdwright/contabs/milestone/1). What do you think? Should we aim to include some, or all, of this functionality? It mostly depends on you capacity, so let me know what so

[2018-11-24 00:07] pykong commented on #65
Is there any dependency checker similar maybe to `vulture` in python?

The only ones I came across are
- CodeRush (no good for this purpose)
- ReSharper/Rider (Haven't tried)

[2018-11-24 10:17] tdwright commented on #65
Good call re: ReSharper. Used to use it in my last job and it was very good. Not specifically for dependency checking _per se_, but still a very good tool. I should see if they'd do me an open source version for ConTabs...

I've been working on this one in a fairly manual way, assisted by the NuGet package manager. It's made simpler by the fact that ConTabs itself has no dependencies outside of .N

[2018-11-24 10:17] #65 closed, assigned to tdwright

[2018-11-24 10:52] tdwright commented on #60
Right then. I've added four column-level attributes:

- `[ConTabsColumnHide()]`
- `[ConTabsColumnName("string")]`
- `[ConTabsColumnPosition(int)]`
- `[ConTabsColumnFormatString("string")]`

I've created [an example `Planet` POCO](https://github.com/tdwright/contabs/blob/5dbf8dc5b1b10a4b42d02e3f6952ff95d97645ac/ConTabsDemo-Attributes/Data.cs#L24-L39) that uses these annotations.

These attributes w

[2018-11-24 12:05] pykong commented on #65
@tdwright Great to see the pace this project is moving forward.

[2018-11-24 15:11] pykong commented on #60
@tdwright I am pleased you took bite at this.
I am going to test drive the new data annotations tomorrow.

Regarding the question of "OptIn" vs "OptOut":
I believe we should start with the most simple implementation. This could mean starting with only a single opt behavior.
Still, I believe having both the possibility to opt for either is a very convenient and should be considered in future releas

[2018-11-25 21:00] pykong commented on #60
Looks good to me.

[2018-11-28 10:28] tdwright commented on #54
Hi @maxwell9999! Hope you're well?

Just wondering how things are going on this issue? If you wanted to get some early feedback, that offer still stands. Or, if you're happy plugging away for the time being, feel free to tell me to bugger off! 😁

Tom

[2018-11-29 07:27] zumo-sk commented on #6
I still consider myself a developer, so I am terrible at evaluations. But let's see. 😄
It depends on when do you want to release v2.0 - if this year, there is no way of finalizing it along with tests due to vacations and holidays. My target is Jan 2019.
Things I really want to implement as part of this ticket:
- [ ] Prevent columns that would be outside of console to be drawn
- [ ] Implement stret

[2018-12-02 11:47] zumo-sk commented on #6
Hi Tom,

I have implemented a solution, but I found out I have some technical issues caused by lack of previous open source participation.
1. Do you have an advice how to check unit test coverage without having VS Enterprise? I was very disappointed to see it missing in professional edition. I don't want to install a lot of extensions before actually knowing whether it's worth it.
2. Is it common

[2018-12-02 21:16] tdwright commented on #6
Hi Marek,

That was quick! Wasn't expecting anything til Jan.

The answer to your second question is a "yes". In fact, this will help with your other questions too.

Code coverage is a pain in the ass to set up without paying for something. I don't really expect anyone to do code coverage analysis before opening a PR, as long as I can see they've made a good-faith effort to ensure all their new co

[2018-12-02 21:16] tdwright commented on #6
Oh, and have a great time in NY! 😃

[2018-12-03 13:58] zumo-sk commented on #6
Thank you for a quick reply!
Yes, I had a free Saturday, so I spent quality time with some development. 😄 I found out some of my assumptions were not exactly correct (for example, now I think that you don't want to have non-long string columns squeezed unless you specifically ask for it) and I developed things slightly differently than I originally planned, but I'll write about it once I write tes

[2018-12-16 14:20] oisinmcl commented on #64
Hi,
Is this issue being worked on? I would like to start contributing and I feel this would be a good first contribution.

Thanks
Oisin

[2018-12-16 22:12] tdwright commented on #64
Hi @oisinmcl! 👋

It's all yours if you want it. And you're just in time for the [version 2.0](https://github.com/tdwright/contabs/milestone/1) milestone.

Have a look at the [contributor guidelines](https://github.com/tdwright/contabs/blob/master/CONTRIBUTING.md) and in particular the section on testing. For new styles, we tend to need one test per style.

Let me know if I can help at all. Otherwi

[2018-12-17 14:46] oisinmcl commented on #64
Hi Tom,

OK I will start this today. I had a read over the guidelines and will contact if I need help.

Looking forward to contributing.

Thanks
Oisin

[2018-12-18 23:38] tdwright opened #68 "Target .Net Standard 2.0"
I think we could simplify our targeting by moving to .Net Standard 2.0.

This would have some implications for backwards compatibility. As per the [table of implementation support](https://docs.microsoft.com/en-us/dotnet/standard/net-standard), calling projects would need to be at least .Net Core 2.0 or .Net Framework 4.6.1.

.Net Standard 2.0 was released in August 2017, so isn't all that new in

[2018-12-18 23:41] tdwright commented on #68
If anyone wants to see what this would look like (or test it) take a look at #69.

[2018-12-18 23:45] #64 closed, assigned to nobody

[2018-12-19 08:32] tdwright commented on #60
@pykong Looks like v2.0 won't be ready for a little while longer yet, so I've put out a preview that contains this functionality. https://www.nuget.org/packages/ConTabs.tdwright/2.0.0-preview1

Going to close this issue now.

Merry Christmas! 🎅 🎁

[2018-12-19 08:32] #60 closed, assigned to tdwright

[2018-12-19 08:33] tdwright commented on #68
If anyone wants to test compatibility, I've done a special preview release: https://www.nuget.org/packages/ConTabs.tdwright/2.0.0-netstandard2-preview1

[2018-12-19 15:36] pykong commented on #60
Merry Christmas, thanks for the gift Santa Wright!

[2018-12-20 08:41] tdwright commented on #68
Interesting to note that the NuGet package for [the .Net Standard 2.0 preview](https://www.nuget.org/packages/ConTabs.tdwright/2.0.0-netstandard2-preview1) is about half the size (26.44 KB) of [the version that still targets Standard 1.3 and Framework 4.5](https://www.nuget.org/packages/ConTabs.tdwright/2.0.0-preview1) (56.69 KB).

[2019-02-19 10:22] tdwright commented on #6
Resolved by #70 - thanks @zumo-sk! 🤩

[2019-02-19 10:22] #6 closed

[2019-03-31 08:00] ulkaio opened #71 "Print transpose of a table"
Currently a class fields printed as columns, I like to print them as rows, any idea how to do that. # @

[2019-04-01 21:57] tdwright commented on #71
It would be hard to do currently without manipulating the data manually beforehand.

What's your use case?

[2021-10-19 06:48] fangjunai opened #72 "Chinese is not supported"
table.TableStyle = Style.UnicodeLines;

Chinese is not supported.

[2021-12-15 13:55] tdwright commented on #72
Hi @fangjunai.

What do you mean? Could you give me a case to reproduce? ([Tips here](https://stackoverflow.com/help/minimal-reproducible-example))

The line you've included is really only used to change the style (theme) of the table. There is a page in the wiki which [explains and lists the styles you can choose from](https://github.com/tdwright/contabs/wiki/2.-Styling-your-table).

[2021-12-15 13:56] tdwright commented on #71
Closing due to inactivity.

[2021-12-15 13:56] #71 closed, assigned to nobody

[2022-04-17 17:02] tdwright commented on #72
It's been over a year without being able to repro. Closing this issue for now, but happy to reopen if needed.

[2022-04-17 17:02] #72 closed, assigned to nobody

[2022-04-17 17:04] tdwright commented on #68
It's now been 3 years since this question was posted and 5 years since .Net Standard 2.0 was released. Going to push forward with this, as well as adding more up-to-date implementation examples (e.g. for Net 5).

[2022-04-17 17:04] #68 closed, assigned to tdwright

[2022-04-17 18:16] tdwright opened #73 "Add demo app for .NET 5"
.NET 5 was released on XXX and signifies the reunification of the .NET landscape.

Contabs was born at a time when .NET Standard was new(ish) and was in some ways a showcase of writing modern, portable, multi-platform C# code.

Since [.NET 5 doesn't replace .NET Standard](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-5), I won't be changing witch TFM is targetted by Contabs itself.

[2022-04-17 18:39] tdwright commented on #73
Resolved by #74

[2022-04-17 18:39] #73 closed, assigned to nobody

[2022-04-17 19:07] tdwright opened #75 "Add an option to plot simple bar charts in a generated column"
For numeric columns, it would be cool to be able to visualize these as a simple bar chart in a new column.

For instance:

[code]

This gives a nice quick visual representation of the data in the column. The above example can be achieved with existing functionality by doing something like:

[code]
But, since the scope of the lambda here is limited to data from individual rows, we have no way of au

[2022-04-18 09:59] tdwright commented on #75
Another question - should we enforce a particular `LongStringBehaviour` for the generated column?